.Pokedex {
  text-align: center;
}

.Pokedex-title {
  color: darkblue;
}

.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Pokedex-winner {
  font-weight: bold;
  color: orangered;
}